html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Bahnschrift SemiBold Condensed", "Arial", "Helvetica", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 20px;
}
*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 3px;
  display: inline-block;
  position: absolute;

  border: 1px solid red;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html
  body
  header
  nav
  article
  footer
  div
  span
  img
  p
  a
  ul
  li
  h2
  table
  thead
  tbody
  tr
  th
  td
  row
  col {
  zoom: 1;
}
html
  body
  header
  nav
  article
  footer
  div
  span
  img
  p
  a
  ul
  li
  h2
  table
  thead
  tbody
  tr
  th
  td
  row
  col {
  content: "";
  clear: both;
  display: block;
}
.header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.homeBackground {
  width: 100%;
  height: 100%;
  background-color: #152133;
  background-size: auto;
}
.homeContent {
  display: block;
  flex-direction: row;
  width: 100%;
  height: 260px;
  background-color: #000000;
  background-size: auto;
}
.title {
  font-family: "Times New Roman", serif;
  font-style: initial;
  font-weight: bold;
  color: white;
  margin-left: 20%;
  margin-top: 30px;
}

.titleContent {
  display: contents;
  width: 80%;
  text-align: justify;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 45px;
  word-wrap: break-word;
}
.moto {
  position: relative;
  font-family: "Castellar";
  font-style: italic;
  text-align: right;
  margin-right: 25%;
  color: white;
  word-wrap: break-word;
}
.logoContent {
  object-position: 50% 50%;
  object-fit: cover;
  width: 135px;
  padding-left: 10%;
  padding-top: 30px;
}

.logo {
  position: absolute;
  width: 100px;
  height: 95px;
  background-size: auto;
  border-width: thick;
  border-style: double;
  border-color: white;
}
.tel {
  position: fixed;
  font-family: "Times New Roman", serif;
  width: 250px;
  font-style: italic;
  margin-left: 78%;
  margin-top: -220px;
  color: black;
  font-size: 1.7em;
  line-height: 0;
  border: 1px solid black;
  background-color: #fcfcbd;
  border-radius: 50px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  z-index: 3;
}
.tel span {
  color: black;
}
.tel :hover {
  color: #008cba;
  cursor: pointer;
}

.centerNavBar {
  margin-right: auto;
  font-family: serif;
}
.centerNavBar .icon {
  display: none;
}
.navContent {
  display: block;
  text-align: center;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  position: absolute;
  height: auto;
  word-wrap: break-word;
  top: 210px;
  z-index: 4;
}

.navbar a {
  padding: 5px 10px;
  color: black;
  background-color: #fcfcbd;
  border: 1px solid #000;
  border-radius: 20px;
  text-decoration: none;
  margin: 0.2%;
  word-wrap: break-word;
  text-align: center;
}

.navbar a:hover {
  background-color: #ffde5f;
  cursor: pointer;
}

li {
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1em;
  color: #000;
  word-wrap: break-word;
}
a:hover {
  color: #008cba;
  cursor: pointer;
}
.active {
  background-color: #fffe00;
}
.motosHome {
  display: block;
  position: absolute;
  width: 30%;
  height: auto;
  font-size: 2em;
  right: 0;
  z-index: 2;
}
.motosContentHome {
  position: relative;
  padding-top: 20px;
  margin-left: 20%;
}
.motosAboutUs {
  display: block;
  position: absolute;
  width: 30%;
  height: auto;
  font-size: 1.5em;
  right: 0;
  top: 135px;
  z-index: 2;
}
.motosContentAboutUs {
  position: relative;
  margin-left: 30%;
}
.motosMovingServices {
  display: block;
  position: absolute;
  width: 30%;
  height: auto;
  font-size: 1.1em;
  right: 0;
  top: 135px;
  z-index: 2;
}
.motosContentMovingServices {
  position: relative;
  margin-left: 140%;
}
.articleTransport {
  position: relative;
  font-family: serif;
  margin-top: -225px;
  word-wrap: break-word;
}
.articleMovingServices {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: serif;
  word-wrap: break-word;
}
.textProporty {
  width: 50%;
  margin-top: 70px;
  margin-left: 20%;
  display: block;
  position: relative;
  text-align: center;
  font-size: 2em;
  letter-spacing: normal;
  word-wrap: break-word;
}
.pTextProporty1 {
  font-style: inherit;
  color: white;
  word-wrap: break-word;
}
.pTextProporty2 {
  font-style: italic;
  color: white;
  word-wrap: break-word;
}

.pTextProporty3 {
  font-style: inherit;
  color: #f8ca90;
  letter-spacing: -3px;
  word-spacing: 5px;
  padding-top: 5px;
  word-wrap: break-word;
}
.pTextProporty4 {
  font-family: "Cabin", serif;
  font-style: italic;
  color: white;
  padding-top: 10px;
  padding-bottom: 80px;
  word-wrap: break-word;
}
.pTextProporty4AboutUs {
  font-family: "Cabin", serif;
  font-style: italic;
  border-bottom: 1px solid black;
  margin-top: -35px;
  padding-bottom: 10px;
  color: white;
  word-wrap: break-word;
}
.linkTransportHome {
  color: white;
}
.linkHamaliHome {
  color: white;
}

.linkTransportPrice {
  color: #f8ca90;
}
.linkHamaliPrice {
  color: #f8ca90;
}
.centerImgHome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 90px;
  width: 50%;
}
.pTextProporty5 {
  font-family: "Cabin", serif;
  font-style: inherit;
  color: white;
  padding: 7px;
  word-wrap: break-word;
}

.footer {
  width: 100%;
  position: absolute;
  display: block;
  background-color: #5b71a7;
  background-size: auto;
  padding-bottom: 3%;
  margin: 0;
  z-index: 3;
}

.imgPhone {
  margin-top: 20px;
  position: relative;
  width: 100%;
  transform: translate(-50%, -50%);
}

.faviconsLeft {
  display: inline-block;
  position: absolute;
  left: 1%;
  top: 93px;
  z-index: 2;
}
.favicons a {
  padding-left: 2px;
}

.footerContacts {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-left: 15%;
  float: left;
  padding-top: 70px;
  font-size: 1.4em;
  line-height: 10px;
  letter-spacing: normal;
  color: #000;
  z-index: 2;
}
.adress {
  color: #000;
  font-style: inherit;
  font-family: "Cabin", serif;
  font-weight: normal;
  letter-spacing: 1px;
}
.faviconsRight {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 93px;
  z-index: 2;
}
.favicons {
  width: 100%;
  z-index: 2;
}

.imgOpacity {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imgOpacity:hover {
  opacity: 0.5;
}
.kamionBackground1 {
  position: relative;
  width: 100%;
  top: -120px;
}
.kamionBackground2 {
  overflow: hidden;
  pointer-events: auto;
  text-align: center;
}
.kamionAboutUs {
  width: 100%;
  height: auto;
}
.kamionAboutUs2 {
  min-width: 100%;
  min-height: auto;
  width: 980px;
  height: 555px;
}
.textCenteredAboutUs {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: -2px;
  font-family: Arial, Helvetica, serif;
  word-wrap: break-word;
}
.backgroundAboutUsSection {
  width: 100%;
  display: block;
  position: relative;
  margin-top: -240px;
  background-color: #c7c7c9;
  background-size: auto;
  z-index: 1;
}
.textProportyAboutUs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  text-align: center;
  float: left;
  font-size: 2em;
  letter-spacing: normal;
  z-index: 2;
  word-wrap: break-word;
}
.textProportyAboutUs > p {
  color: #7c0600;
}
.textProportyAboutUs > p > a {
  color: #7c0600;
}
.textProportyAboutUs > p > a :hover {
  color: #008cba;
  cursor: pointer;
}

.aboutUsRow {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 1.5em;
  word-wrap: break-word;
}
.colum {
  float: left;
  width: 33%;
  padding: 30px;
  font-family: serif;
  word-wrap: break-word;
}
.aboutUsRow:after {
  content: "";
  display: table;
  clear: both;
}
.columText {
  border: 1px solid;
  padding: 10px;
  box-shadow: 7px 10px #888888;
}
.columTitle {
  text-align: center;
  font-size: 1em;
  word-wrap: break-word;
}
.colum1 {
  text-align: center;
  line-height: 35px;
  word-wrap: break-word;
}
.colum2 {
  line-height: 35px;
  word-wrap: break-word;
}
.colum2 li {
  display: list-item;
  word-break: break-word;
  white-space: normal;
  list-style-type: square;
}
.backgroundTransportSection {
  width: 100%;
  display: block;
  position: relative;
  background-color: #c7c7c9;
  background-size: auto;
  z-index: 1;
}
.textProportyТрansport {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  padding-top: 2%;
  width: 50%;
  position: relative;
  text-align: center;
  font-size: 2em;
  letter-spacing: normal;
  word-wrap: break-word;
}
.imgPhoneTransport {
  margin-top: 0;
}
.textContainerTransport {
  font-size: 2.5em;
  letter-spacing: -5px;
  word-wrap: break-word;
}
.rowTransport {
  box-sizing: border-box;
  position: relative;
  font-size: 1.5em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  word-wrap: break-word;
}

.rowTransport:after {
  content: "";
  display: table;
  clear: both;
}
.kamionTransport {
  position: relative;
  top: 5px;
  width: 100%;
}

.transportTitle {
  display: grid;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1px;
  word-break: normal;
  white-space: normal;
  list-style-type: square;
}
.section {
  width: 100%;
  height: 800px;
  position: static;
  display: block;
  background-color: #31302c;
  background-size: auto;
}
.textCenteredKolichka {
  position: absolute;
  top: 510px;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: serif;
  word-wrap: break-word;
}
.hamaliKolichka {
  position: absolute;
  right: -30%;
}

.hamaliText {
  color: #c7c7c9;
  word-wrap: break-word;
}
.columHamali {
  float: left;
  padding: 30px;
  font-family: serif;
  word-wrap: break-word;
}
.columHamali2 {
  line-height: 35px;
  word-wrap: break-word;
}
.columHamali2 li {
  display: list-item;
  word-break: break-word;
  white-space: normal;
  list-style-type: square;
}
.hamaliArticle {
  position: relative;
  margin-top: 750px;
  left: 45%;
  width: 50%;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
  font-weight: 500;
  font-family: serif;
  word-wrap: break-word;
}
.hamaliH1 {
  text-transform: uppercase;
}
.columHamaliContent {
  width: 80%;
  word-wrap: break-word;
}
.hamaliUl {
  font-size: 0.9em;
}
.hamaliUl li {
  word-wrap: break-word;
  white-space: normal;
  line-height: 25px;
}
.divan {
  position: absolute;
  right: -30%;
  top: 0px;
}
.hamaliFooter {
  height: auto;
  width: 100%;
  position: absolute;
  top: 1300px;
}
.packagingBackground {
  width: 100%;
  height: 100%;
  background-color: #31302c;
  background-size: auto;
}
.articlePackaging {
  font-family: serif;
  display: block;
  position: relative;
}
.textPackagingH2 {
  width: 80%;
  text-align: center;
  margin: 50px;
  word-wrap: break-word;
}
.textPackaging {
  position: relative;
  width: 55%;
  left: 20%;
  margin-bottom: 280px;
  margin-top: 60px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  font-family: serif;
  color: #f8ca90;
  word-wrap: break-word;
}
.box1 {
  position: relative;
  float: left;
}
.toolAssemble {
  position: relative;
  float: left;
  top: 80px;
  left: -50px;
}
.box2 {
  position: relative;
  float: right;
}
.box2Asemble {
  position: relative;
  float: right;
  top: 80px;
}
.boxTickso {
  display: inline-block;
  margin-top: 15%;
}
.box3 {
  position: absolute;
  left: -100px;
}
.tickso {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.box4 {
  position: absolute;
  right: -15%;
}

.textPackagingBottomH2 {
  position: absolute;
  left: 50%;
  width: 100%;
  margin-top: 50px;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
}
.assembleBackground {
  width: 100%;
  height: 100%;
  background-color: #31302c;
  background-size: auto;
}
.articleAssemble {
  font-family: serif;
  position: relative;
  display: block;
}
.assembleContent {
  position: relative;
  width: 65%;
  left: 20%;
  margin-bottom: 150px;
  text-align: center;
  font-size: 1.8em;
  font-family: serif;
  color: #f8ca90;
}
.textAssemble {
  text-align: left;
  line-height: 50px;
  margin-left: 90px;
  font-family: serif;
  font-size: 1.5em;
  word-wrap: break-word;
}
.textAssemble > li {
  display: list-item;
  word-break: normal;
  white-space: normal;
  list-style-type: square;
}

.textAssembleBottom {
  text-align: left;
  word-wrap: break-word;
}
.textAssembleBottom > li {
  display: list-item;
  word-break: normal;
  white-space: normal;
  list-style-type: square;
}

.priceContent {
  position: relative;
  width: 60%;
  left: 20%;
  text-align: left;
  font-size: 1.8em;
  font-family: serif;
  color: #f8ca90;
  word-wrap: break-word;
}
.textColor {
  color: #ff0202;
}
.priceText {
  font-size: 0.7em;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;
}
.imgPhonePrice {
  margin-top: 10%;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contactsBackground {
  width: 100%;
  height: 100%;
  background-size: auto;
  background-color: #c7c7c75e;
}
.map {
  display: block;
  position: relative;
  text-align: center;
  top: 30px;
  margin: 90px 5% 50px 5%;
}
.googleMapContacts {
  display: block;
  position: relative;
  width: 85%;
  height: 450px;
  margin-top: 40px;
  left: 4%;
  padding: 3px;
  border-style: double;
  border: 2px solid black;
}

.googleMap {
  display: block;
  position: relative;
  text-align: center;
}
.googleMapFooter {
  display: block;
  position: relative;
  width: 42%;
  height: 185px;
  margin-top: 40px;
  left: 4%;
  padding: 3px;
  border-style: double;
  border: 2px solid black;
}

/*Calendar Css*/
/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

*/
/* VARIABLES */
/*
:root {
  --main-color: #1a8fff;
  --text-color: #000;
  --text-color-light: #677fac;
  --border-color: #a8a9ab;
  --bg-color: #f9f9f9;
  --neutral-color: #f1e8e8;
  --header-color: #9fddfb;
  --selected-color: #6eaff3;;
}

*/
/* GENERAL */
/*
.calendarLogo{
  display: block;
  box-sizing: border-box;
  position: relative;
  margin-right: 7%;
  z-index: 2;
}

.calendarHeader {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

.calendarHeader .calendarLogo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

.calendarHeader .calendarLogo .icon {
  padding-right: .25em;
}
*/
/* GRID */
/*
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}
*/

/* Calendar */
/*
.calendar {
  display: block;
  position: relative;
  max-width: 18%;
  float: right;
  background: var(--header-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.calendar .calendarHeader {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70%;
  padding: 1.2em 0;
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px;
}

.calendar .calendarHeader .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .calendarHeader .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .calendarHeader .icon:first-of-type {
  margin-left: 1em;
}

.calendar .calendarHeader .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  font-weight: bold;
  color: #000;
  font-size: 60%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendarBody .cell {
  position: relative;
  height: 1.7em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .calendarBody .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}
.calendar .calendarBody .selected {
  background-color: var(--selected-color);
}
*/
/*
.calendar .calendarBody .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}
*/
/*
.calendar .calendarBody .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .calendarBody .row:last-child {
  border-bottom: none;
}

.calendar .calendarBody .cell:last-child {
  border-right: none;
}

.calendar .calendarBody .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 20%;
  right: -20%;
  width: 100%;
  font-weight: 700;
}

.calendar .calendarBody .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .calendarBody .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .calendarBody .cell:hover .bg, .calendar .calendarBody .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .calendarBody .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  border-radius:10px;
}
*/

.datePickerContacts {
  display: inline-block;
  position: relative;
  top: -300px;
  margin-left: 5%;
  float: left;
}
.datePickerContacts :hover {
  cursor: pointer;
}

.datePickerHome {
  display: inline-block;
  position: relative;
  margin-right: 8%;
  float: right;
  z-index: 3;
}

.datePickerAboutUs {
  display: inline-block;
  position: relative;
  margin-right: 8%;
  float: right;
  z-index: 3;
}
.datePickerPrice {
  display: inline-block;
  position: relative;
  margin-right: 8%;
  float: right;
}
.datePickerHome :hover {
  cursor: pointer;
}
.datePickerAboutUs :hover {
  cursor: pointer;
}
.datePickerPrice :hover {
  cursor: pointer;
}
.datePickerTitle {
  margin-bottom: 2px;
  text-align: center;
  font-family: Eczar serif;
  color: #790182;
}
.react-datepicker__input-container > input {
  background-color: chocolate;
  letter-spacing: 3px;
  padding: 0.3rem;
  font-size: 1.1em;
  text-align: center;
}
.react-datepicker-ignore-onclickoutside {
  text-align: center;
}
.react-datepicker__month-container {
  background-color: wheat;
}
.react-datepicker__header {
  background-color: #95deff !important;
}
.react-datepicker__navigation--next {
  border-left-color: #000 !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #000 !important;
}

.emailContacts {
  display: block;
  position: relative;
  height: auto;
  box-sizing: border-box;
  width: 45%;
  margin-left: 27%;
  z-index: 2;
}
.emailContacts :hover {
  cursor: pointer;
}
.formaTitle {
  text-align: center;
  font-size: 10em;
  font: italic 30px/1.5em "playfair display", serif;
}
.formName {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  position: absolute;
  left: 0;
  padding: 10px;
  border-radius: 0;
  font: italic normal normal 15px/1.4em "playfair display", serif;
}
.formEmail {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  position: absolute;
  right: 0;
  padding: 10px;
  border-radius: 0;
  font: italic normal normal 15px/1.4em "playfair display", serif;
}

.formTema {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  position: absolute;
  margin-top: 60px;
  left: 0;
  padding: 10px;
  border-radius: 0;
  font: italic normal normal 15px/1.4em "playfair display", serif;
}

.formTel {
  max-width: 100%;
  max-height: 100%;
  width: 48%;
  position: absolute;
  margin-top: 60px;
  right: 0;
  padding: 10px;
  border-radius: 0;
  font: italic normal normal 15px/1.4em "playfair display", serif;
}
.formMessage {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 115px;
  margin-top: 130px;
  left: 0;
  padding: 0 0 60px 10px;
  border-radius: 0;
  font: italic normal normal 15px/1.4em "playfair display", serif;
}
.buttonSubmit {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  left: 0;
  margin-top: 10px;
  background-color: rgb(0, 221, 0);
  color: black;
  border-radius: 0;
  font: italic normal normal 25px/1.5em "playfair display", serif;
}
.buttonSubmit :hover {
  cursor: pointer;
}
.buttonSubmit:disabled {
  background-color: #404040;
  color: white;
}

.modal {
  display: block;
  position: absolute;
  top: 75px;
  right: 20%;
}
.modalContent {
  position: relative;
  background-color: #77fb6b;
  margin: auto;
  color: black;
  padding: 30px;
  line-height: 1.5em;
  border: 5px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  word-wrap: break-word;
}
.closeIcon {
  float: right;
  margin-top: -25px;
  margin-right: -25px;
  line-height: 1.5em;
  font-size: 1.5em;
  background-color: #77fb6b;
}
.closeButton {
  margin-top: 25px;
  padding: 5px 15px;
  font-size: 1em;
  font-weight: 500;
  background-color: #c3c3c3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactsIcon {
  display: block;
  position: relative;
  width: 17%;
  top: -280px;
  float: right;
  left: -5%;
  z-index: 2;
}
.faviconContacts {
  font-family: "Times New Roman", serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  line-height: 40px;
  padding-left: 20px;
  letter-spacing: normal;
  color: #000;
}
.faviconContacts {
  padding-left: 5px;
}

.menuIcon {
  display: none;
  background-color: #000;
}

/*Responsiv*/

@media screen and (max-width: 1631px) {
}
@media screen and (max-width: 1365px) {
  .title {
    width: 55%;
    margin-left: 22%;
  }
  .tel {
    margin-left: 73%;
  }
  .navbar {
    font-size: 0.7em;
    padding: 8px 11px;
  }
  .textProporty {
    font-size: 2em;
  }
  .googleMapFooter {
    width: 32%;
  }
  .pTextProporty3 {
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    overflow: auto;
  }

  .title {
    width: 60%;
    letter-spacing: -1px;
    margin-left: 22%;
  }
  .moto {
    margin-right: 35%;
    top: -10px;
  }
  .navbar {
    font-size: 0.6em;
  }
  .navbar a {
    padding: 8px 11px;
  }
  .telNav {
    margin-left: -40%;
    margin-top: 50px;
  }
  .tel {
    margin-left: 113%;
    margin-top: -255px;
  }
  .googleMapFooter {
    width: 34%;
  }
  .datePickerContacts {
    display: none;
  }
  .emailContacts {
    width: 60%;
    margin-left: 10%;
  }
  .colum {
    width: 100%;
  }
  .colum1 {
    line-height: 25px;
  }
  .colum2 {
    line-height: 25px;
  }
  .faviconsLeft {
    margin-left: -2%;
  }
  .faviconsRight {
    right: 1%;
  }
}

@media screen and (max-width: 991px) {
  .navbar .menuIcon {
    display: block;
    float: right;
    background: black;
  }
  .homeContent {
    height: 350px;
  }
  .title {
    width: 55%;
    text-align: center;
    margin-left: 25%;
    letter-spacing: -1px;
  }
  .titleContent {
    font-size: 2em;
  }
  .tel {
    text-align: center !important;
    margin-top: -260px;
    position: absolute;
  }
  .telNav {
    margin-top: 110px;
  }
  .moto {
    margin-right: 30%;
    top: -10px;
  }
  .navbar {
    position: fixed;
    width: 40%;
    float: right;
    right: 50px;
    top: 37px;
  }
  .navbar a {
    display: none;
  }
  .datePickerHome {
    margin-right: 32%;
    margin-top: -115px;
  }
  .textProporty {
    width: 60%;
  }
  .pTextProporty3 {
    letter-spacing: -1px;
  }
  .pTextProporty5 {
    font-size: 0.8em;
  }
  .googleMap {
    display: none;
  }
  .footerContacts {
    margin-left: 25%;
  }
  .pTextProporty4 {
    font-size: 0.8em;
  }
  .textCenteredAboutUs {
    top: 245px;
  }
  .colum {
    width: 100%;
  }
  .textProportyТрansport {
    font-size: 1.5em;
  }
  .kamionTransport {
    margin-left: 25%;
  }
  .textCenteredKolichka {
    left: 40%;
    font-size: 1.3em;
  }
  .textCenteredDivan {
    top: 565px;
    font-size: 2em;
    left: 35%;
  }
  .textPackaging {
    width: 60%;
  }
  .hamaliText {
    width: 100%;
  }
  .box2 {
    display: none;
  }
  .tickso {
    display: none;
  }
  .box4 {
    display: none;
  }
  .box1 {
    top: 40px;
    float: none;
  }
  .box3 {
    position: relative;
    left: 0;
  }
  .box2Asemble {
    display: none;
  }
  .textAssemble {
    font-size: 1em;
  }
  .datePickerPrice {
    display: none;
  }
  .formName {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .formEmail {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .formTel {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .formTema {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .googleMapContacts {
    height: 320px;
  }
  .formMessage {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .emailContacts {
    top: 235px;
  }
  .contactsIcon {
    width: 26%;
    top: -590px;
  }
  .faviconsRight {
    right: 8%;
  }
}

@media screen and (max-width: 991px) {
  .navbar.responsive {
    top: 111px;
    right: 50px;
  }
  .navbar.responsive .menuIcon {
    float: right;
    margin-top: -70px;
    background-color: #000;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    font-size: 1.2em;
    text-align: left;
    margin: 2px;
  }
}

@media screen and (max-width: 767px) {
  .homeContent {
    height: 415px;
  }
  .title {
    margin-top: 110px;
    margin-left: 20%;
  }
  .moto {
    margin-right: 6%;
  }
  .tel {
    margin-top: -245px;
    margin-left: 63%;
  }
  .datePickerHome {
    top: -10px;
  }
  .textProporty {
    width: 100%;
    margin-left: 0%;
    font-size: 1.8em;
    line-height: 0px;
  }
  .pTextProporty5 {
    top: -125px;
    position: relative;
    line-height: 24px;
  }
  .navbar {
    z-index: 4;
  }

  .backgroundAboutUsSection {
    margin-top: -180px;
  }
  .textCenteredAboutUs {
    top: 155px;
    font-size: 1.3em;
  }
  .textProportyAboutUs {
    font-size: 1.4em;
  }
  .pTextProporty4AboutUs {
    padding-top: 40px;
  }
  .datePickerAboutUs {
    display: none;
  }
  .aboutUsRow {
    font-size: 1.1em;
  }
  .kamionTransport {
    margin-left: 0;
  }
  .kamionAboutUs2 {
    height: 425px;
  }
  .hamaliKolichka {
    right: -45%;
  }
  .textPackaging {
    left: 15%;
    font-size: 1.5em;
  }
  .box1 {
    left: 10%;
  }
  .assembleContent {
    font-size: 1.5em;
  }
  .textAssemble {
    line-height: 25px;
  }
  .contactsIcon {
    left: -60%;
  }
  .emailContacts {
    width: 75%;
    top: 170px;
  }
  .modal {
    top: 185px;
  }
  .faviconsLeft {
    display: block;
    width: 20%;
    top: 20px;
  }
  .footerContacts {
    margin-left: 20%;
    padding-top: 20px;
  }
  .faviconsRight {
    top: 25px;
  }
}

@media screen and (max-width: 540px) {
  .navbar.responsive {
    width: 60%;
  }
  .title {
    width: 60%;
  }
  .datePickerHome {
    margin-right: 25%;
  }
  .pTextProporty4 {
    position: relative;
    word-wrap: break-word;
    line-height: 24px;
  }
  .faviconsLeft {
    position: relative;
    top: 50px;
  }
  .footerContacts {
    top: -100px;
    font-size: 1.2em;
  }
  .faviconsRight {
    top: 189px;
    right: 35%;
  }
  .textCenteredAboutUs {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .homeContent {
    height: 405px;
  }
  .title {
    text-align: center;
    top: 155px;
    width: 95%;
    margin-left: 0;
  }
  .tel {
    margin-left: 55%;
    text-align: center;
    top: 530px;
  }
  .navbar {
    width: 80%;
    top: 50px;
  }
  .navbar.responsive {
    width: 80%;
    top: 115px;
    right: 50px;
  }
  .datePickerHome {
    margin-right: 13%;
  }
  .textProporty {
    font-size: 1.3em;
  }
  .pTextProporty4AboutUs {
    padding-top: 0px;
  }
  .pTextProporty5AboutUs {
    font-family: "Cabin", serif;
    font-style: inherit;
    color: white;
    padding: 7px;
    top: -35px;
    position: relative;
    word-wrap: break-word;
    line-height: 24px;
  }
  .colum {
    padding: 20px;
  }
  .textProportyТрansport {
    font-size: 1.1em;
    width: 85%;
  }
  .faviconsLeft {
    width: 30%;
    left: -5%;
  }
  .footerContacts {
    font-size: 1.1em;
    margin-left: 28%;
  }
  .faviconsRight {
    width: 90%;
    top: 170px;
    right: 0%;
  }
  .imgPhone {
    left: 0;
  }
  .kamionAboutUs2 {
    height: 320px;
  }
  .rowTransport {
    font-size: 1em;
  }
  .section {
    height: 870px;
  }
  .textCenteredKolichka {
    position: relative;
    width: 70%;
    left: 50%;
    top: 25px;
    float: left;
    font-size: 1em;
    line-height: 15px;
  }
  .hamaliKolichka {
    right: 0;
    top: 257px;
  }
  .textCenteredDivan {
    font-size: 1.5em;
    top: 515px;
  }
  .emailContacts {
    width: 85%;
    top: 215px;
  }
  .googleMapContacts {
    width: 95%;
  }
  .textPackagingH2 {
    margin: 20px;
    width: 100%;
    font-size: 1.1em;
  }
  .textPackagingP {
    text-align: center;
    font-size: 0.8em;
    width: 100%;
  }
  .box1 {
    top: 0;
  }
  .toolAssemble {
    float: none;
    left: 0;
    top: -30px;
  }
  .textAssemble {
    margin-left: 0;
  }
  .textPackagingBottomH2 {
    font-size: 0.9em;
  }
  .priceContent {
    font-size: 1.3em;
  }
}
