html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Bahnschrift SemiBold Condensed", "Arial", "Helvetica",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 20px;
  }
  *, *::after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   }
  
   
   img{
       max-width: 100%;
   }
  
   html body header nav article footer div span img p a ul li
   h2{
      zoom:1;
  }
   html body header nav article footer div span img p a ul li
   h2{
      content: "";
      clear: both;
      display: block;
  }
  .header{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    }
  .homeBackground{
    height: 100%;
    position: relative;
    background-color: #152133;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .homeContent{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    width: 100%;
    height:250px;
    background-color: #2e2e30;
  }
  .title {
     position: absolute;
     font-family: "Times New Roman",sans-serif;
     font-style: initial;
     font-size:3.5em;
     font-weight:bold;
     color:white;
     margin-top: 4%;
     margin-left: 10% 
         
  }
  .moto {
      position: relative;
      font-family: "Castellar";
      font-style: italic;
      font-size: 0.5em;
      text-align: right;
      margin-right: -3%;
      color:white;

  }
  .logoContent{
    object-position: 50% 50%;
    object-fit: cover;
    height: 135px;
    width: 135px;
    margin-top: 3%;
    padding-left:10%;
}

.logo{
    position: absolute;   
    width: 100px;
    height: 95px;
    background-size: contain;
    background-repeat: no-repeat;
    border-width:thick;
    border-style:double;
    border-color:white;
    background-position: center;
}
.telNav{
  display: -webkit-flex;
  position: absolute;
}
.tel{
      position: fixed;
      font-family: "Times New Roman",sans-serif;
      width: 250px;
      font-style: italic;
      margin-left: 80%;
      margin-top: -195px;
      color:black;
      font-size: 1.7em;
      line-height: 0;
      border: 1px solid black;
      background-color: #fcfcbd;
      border-radius: 50px;
      font-weight: bold;
      word-wrap: break-word;
      text-align: center;
      z-index: 3;
}
.tel span{
  color:black;
}
  .tel :hover{
  color: #008CBA;
  cursor: pointer;
}

.centerNavBar{
  position: absolute;
  margin-left: 6%;
  margin-right: auto;
  z-index: 2;
}
.navbar{
  position: relative;
  margin: auto;
  padding: 0;
  margin-top: -4%;
}
.navbar li{
  display: inline-block;
  white-space: nowrap;
  margin-left: 15px;
  box-sizing: border-box;
  
}

.navbar a{
  display: inline-block;
  padding: 0.5em 0.75em;
  color:black;
  background-color:#fcfcbd;
  border: 1px solid #000;
  border-radius: 20px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1em;
  word-wrap: break-word;
}

.navbar a:hover{
  background-color: #ffde5f;
  cursor: pointer;
}

li{
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  text-decoration: none;
  text-decoration-line: none;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1em;
  color:white;
}
a:hover{
  color:  #008CBA;
  cursor: pointer;
}


.article{
  height: auto;
  width: 100%;
  position: relative;
}
.textProporty{  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;        
  position: relative; 
  text-align: center;
  font-size: 3em;
  line-height: 0;
  letter-spacing: normal;
}
.pTextProporty1{
  font-style: inherit;
  color:white; 
}
.pTextProporty2{
  font-style: italic;
  color:white; 
}

.pTextProporty3{
  font-style: inherit;
  color:#F8CA90;
  letter-spacing: -3px;
  padding-top: 5px;
  font-size: 0.9em;
}
.pTextProporty4{
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  color:white;
  padding-top: 10px;
  padding-bottom: 80px;
  font-size: 0.6em;
}
.linkTransport{
  color: #6d6d6d;
}
.linkHamali{
  color: #6d6d6d;
}
.centerImgHome{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.imgHome{
  width: 636px;
  height: 385px;
  object-fit: cover;
}
.pTextProporty5{
  font-family: 'Cabin', sans-serif;
  font-style: inherit;
  color:white;
  padding: 7px;
  letter-spacing: -1px;
  font-size: 0.6em;
}

.footer{
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.imgPhone{
  margin-top: 180%;
}

.faviconsLeft{
  display: inline;
  position: absolute;
  margin: 5% 0 0 19%;
}
.faviconsLeft a{
  padding: 0.2em 0.5em;
}

.footerContent{
  display: block;
  background-color:#5b71a7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 3%;
}
.footerContacts{
  font-family: "Times New Roman",sans-serif;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 3%;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: normal;
}
.adress{
  color:white;
  font-style: inherit;
  font-family: 'Cabin', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}

.faviconsRight{
  display: inline-block;
  position: absolute;
  right:0;
  margin-top:-165px;
  margin-right: 20%;
}



.imgOpacity {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imgOpacity:hover {
  opacity: 0.3;
}
.kamionBackground1{
    position: relative;
    height: auto;
    width: 100%;;
    z-index: 1;
}
.kamionBackground2{
  position: absolute;
  width: 100%;
  min-width: 980px;
    background-color:#9c9c9e;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.kamionAboutUs {
  position: absolute;
    top: -325px;
    width: 100%;
    overflow: hidden;
    pointer-events: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.textCenteredAboutUs {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: -2px;
  font-family: Arial,Helvetica,sans-serif;
}
.backgrounAboutUsSection{
  height: auto;
  width: 100%;
  top: 510px;
  display: block;
  position: relative;
  background-color:#c7c7c9;
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.textProportyAboutUs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  width: 50%;        
  position: relative; 
  text-align: center;
  font-size: 3em;
  line-height: 0;
  letter-spacing: normal;
  
}
.textProportyAboutUs > p {
  color: #7c0600;
}
.textProportyAboutUs > p > a {
  color: #7c0600;
}
.textProportyAboutUs > p > a :hover{
  color:  #008CBA;
  cursor: pointer;
}

.row{
  box-sizing: border-box;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  
}
.colum {
  float: left;
  width: 33%;
  padding: 30px;
  height: auto;
  font-size: 1.2em;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.columText{
  text-align: center;
}
.colum1{
  line-height: 35px;
  
}

.colum2 li{
  display: list-item;
  line-height: 35px;
  word-break: normal;
  white-space: normal;
  list-style-type: square;
}
.backgrounTransportSection{
  height: auto;
  width: 100%;
  top: 435px;
  display: block;
  position: relative;
  background-color:#c7c7c9;
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.textProportyТрansport{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  width: 50%;        
  position: relative; 
  text-align: center;
  font-size: 2em;
  letter-spacing: normal;
}
.imgPhoneTransport{
  margin-top: 0;
}
.textContainerTransport{
  font-size: 2.5em;
  letter-spacing: -5px;
}

.kamionTransport{
  position: relative;
  top: 5px;
  width: 100%;
  overflow: hidden;
  pointer-events: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.section{
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  background-color:#4c3f3f;
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.textCenteredKolichka{
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: -2px;
  font-family: Arial,Helvetica,sans-serif;
}
.hamaliKolichka{
  position: absolute;
  right: -30%;
  top:100px;
}

.hamaliText{
 width: 85%;
 color: #F59A28;
 letter-spacing: 1px;
}
.divan{
  position: absolute;
  right: -15%;
  top:-30px;
}
.textCenteredDivan{
  position: absolute;
  top: 150px;
  left: 50%;
  color:black;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: -2px;
  font-family: Arial,Helvetica,sans-serif;
}
.hamaliDivan{
  width: 85%;
 color: black;
 letter-spacing: 1px;
}
.hamaliFooter{
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -350px;
}